.feed {
 width: 32vw;
 height: 100vh;
 border: 1px solid gray;
 border-top: none;
 border-bottom: none;
}

.post-input {
  color: white;
  height: 250px;
}

.top-post-input{
    display: flex;
}

.top-tweets{
    font-size: 25px;
    padding: 0px 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    cursor: pointer;
}

.top-tweets:hover {
    transition: 300ms ease-in-out;
    background-color: rgb(151, 149, 149, 0.1)
}

.title {
  margin: 15px 15px;
  font-size: 25px;
  width: 520px;
}

.profile {
    display: flex;
    margin: 10px 0 0 10px;
    flex-wrap: wrap;
}

.profile-logo {
    font-size: 60px;
    height: 45px;
    width: 60px;
    margin: 0 0 0 0;
    cursor: pointer;
}

.profile-logo-img{
    color: rgb(157, 156, 156);
    width: max-content;
    height: max-content;
}

.net-see{
    height: max-content;
    padding: 2px 15px 2px 25px;
    margin: 5px 0 0 0;
    border: 1px solid rgba(29, 155, 240, 0.3);
    border-radius: 100px;
    display: flex;
    color: rgb(29, 155, 240);
    align-items: center;
    cursor: pointer;
    margin-right: 150px;
}

.net-see p {
    margin-right: 10px;
}

.input{
   height: 50px;
   max-height: 200px;
}




textarea {
    background-color: transparent;
    min-width: 100px;
    max-height: 190px;
    width: 500px;
    font-size: 20px;
    margin-left: 60px;
    color:white;
    border: none;
    outline: none;
    resize: none;
}

.input textarea::-webkit-scrollbar{
    width: 0px;
}

.input-can-reply {
    display: flex;
    width: inherit;
    color:rgb(29, 155, 240, 0.9);
    font-size: 14px;
    margin: 0 0 10px 60px;
    padding: 3px 14px;
    border-radius: 30px;
    cursor: pointer;
}

.input-can-reply p {
    margin-left: 5px;
    font-weight: 600;
}

.earth-icon {
    font-size: 16px;
    
}

.input-can-reply:hover {
    transition: all 400ms ease;
    background-color: rgb(29, 155, 240,0.2);
}

.input-upload{
    height: 50px;
    border-top: 1px solid gray;
    width: 500px;
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.input-upload ul{
    display: flex;
    list-style: none;
    color: rgb(29, 155, 240);
    align-items: center;
    height: inherit;
}

.input-upload li {
    padding: 4px 8px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

.input-upload li:hover {
    transition: all 400ms ease;
    background-color: rgb(29, 155, 240, 0.3);
}

.tweet-btn-feed-container{
    justify-self: right;
    margin-left: 200px;
}

.tweet-btn-feed {
    border-radius: 5rem;
    font-size: 16px;
    padding: 10px 25px;
    border:none;
    outline: none;
    background-color: rgb(29, 155, 240, 0.9);
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}

.tweet-btn-feed:hover {
    transition: all 500ms ease-in-out;
    background-color: rgb(26, 140, 216, 0.8);
}