.feed {
 width: 32vw;
 height: 100vh;
 border: 1px solid gray;
 border-top: none;
 border-bottom: none;
}

.post-input {
  color: white;
  height: 250px;
}

.top-post-input{
    display: flex;
}

.top-tweets{
    font-size: 25px;
    padding: 0px 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    cursor: pointer;
}

.top-tweets:hover {
    transition: 300ms ease-in-out;
    background-color: var(--nav-hover-color);
}

.title {
  margin: 15px 15px;
  font-size: 25px;
  width: 520px;
}

.profile {
    display: flex;
    margin: 10px 0 0 10px;
    flex-wrap: wrap;
}

.profile-logo {
    font-size: 60px;
    height: 45px;
    width: 60px;
    margin: 0 0 0 0;
    cursor: pointer;
}

.profile-logo-img{
    color: rgb(157, 156, 156);
    width: max-content;
    height: max-content;
}

.net-see{
    height: max-content;
    padding: 2px 15px 2px 25px;
    margin: 5px 0 0 0;
    border: 1px solid var(--btn-li-hover-color);
    border-radius: 100px;
    display: flex;
    color: var(--btn-color);
    align-items: center;
    cursor: pointer;
    margin-right: 150px;
}

.net-see p {
    margin-right: 10px;
}

.input{
   height: 50px;
   max-height: 200px;
}




textarea {
    background-color: transparent;
    min-width: 100px;
    max-height: 190px;
    width: 500px;
    font-size: 20px;
    margin-left: 60px;
    color:white;
    border: none;
    outline: none;
    resize: none;
}

.input textarea::-webkit-scrollbar{
    width: 0px;
}

.input-can-reply {
    display: flex;
    width: inherit;
    color:var(--btn-color);
    font-size: 14px;
    margin: 0 0 10px 60px;
    padding: 3px 14px;
    border-radius: 30px;
    cursor: pointer;
}

.input-can-reply p {
    margin-left: 5px;
    font-weight: 600;
}

.earth-icon {
    font-size: 16px;
    
}

.input-can-reply:hover {
    transition: var(--transition);
    background-color: var(--btn-li-hover-color);
}

.input-upload{
    height: 50px;
    border-top: 1px solid gray;
    width: 500px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.input-upload ul{
    display: flex;
    list-style: none;
    color: var(--btn-color);
    align-items: center;
    height: inherit;
}

.input-upload li {
    padding: 4px 8px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

.input-upload li:hover {
    transition: var(--transition);
    background-color: var(--btn-li-hover-color);
}

.tweet-btn-feed-container{
    justify-self: right;
    margin-left: 200px;
}

.tweet-btn-feed {
    border-radius: 5rem;
    font-size: 16px;
    padding: 10px 25px;
    border:none;
    outline: none;
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
}

.tweet-btn-feed:hover {
    transition: all 500ms ease-in-out;
    background-color: var(--btn-hover-color);
}

.tweet-content {
    width: 100%;
    max-height: 600px;
    border: 1px solid var(--post-border-color);
    border-right: none;
    border-left: none;
}

.tweet-content:hover {
  background-color: var(--nav-hover-color);
}

.post-content {
    width: 85%;
    height: auto;
    padding-top: 10px;
    flex-wrap: wrap;
}

.tweet-profile-logo {
    font-size: 45px;
    margin-right: 5px;
}

.tweet-details {
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.tweet-username {
    color: whitesmoke;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
}

.tweet-more {
    font-size: 23px;
    color: gray;
    padding: 3px 3px;
    height: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tweet-more:hover {
    transition: all;
    border-radius: 30px;
    background-color: var(--btn-li-hover-color);
}

.post-social {
  width: 100%;
  padding: 10px 80px 5px 80px;
}

.post-social ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.post-social li {
    padding: 2px 4px;
    font-size: 16px;
    color: gray;
    border-radius: 30px;
}